---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Bio from "../../components/Bio.astro";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    // Filter out draft posts in production
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  return posts.map((p: any) => ({
    params: { slug: p.slug },
    props: { post: p },
  }));
}

const { body, data } = Astro.props.post;
const { Content } = await Astro.props.post.render();
const { title, description, publishDate, tags } = data;
var readTime = readingTime(body).text;

const permalink = `${Astro.site?.href ?? "/"}blog/${data.slug}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <header>
    <p>{publishDate.toLocaleDateString()} ~ {readTime}</p>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <p>
      <div class="text-sm">
        <em>tags:</em>
        {
          tags.map((tag: string) => (
            <>
              <a href={`/blog/tag/${tag}`}>{tag}</a>{" "}
            </>
          ))
        }
      </div>
    </p>
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
