---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Blog";
const description = "Latest articles.";
const permalink = `${Astro.site?.href}blog`;

let posts = await getCollection("blog", ({ data }) => {
  // Filter out draft posts in production
  return import.meta.env.PROD ? data.draft !== true : true;
});

posts = posts.sort(
  (a, b) =>
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf(),
);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <div class="container">
    <h1>Blog</h1>
    {
      posts.map((post, index) => {
        const href = `/blog/${post.slug}`;
        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.data.title}</a>
              </h2>
              <em>tags:</em>{" "}
              {post.data.tags?.map((tag: string) => (
                <>
                  <a href={`/blog/tag/${tag}`}>{tag}</a>{" "}
                </>
              ))}
              <p>{post.data.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  — {post.data.publishDate.toLocaleDateString()}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
