---
import { Badge } from "@/components/ui/Badge";
import { formatDate } from "@/utils";
import { Image } from "astro:assets";
import DraftIndicator from "@components/ui/DraftIndicator.astro";
import type { ImageMetadata } from 'astro';
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;
const post = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,webp}')
if (!images[post.data.coverImage]) throw new Error(`"${post.data.coverImage}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`);
---

<article class="relative space-y-4 group">
  <a
    href={`/blog/${post.slug}/`}
    class="flex h-52 transition duration-300 group-hover:shadow-xl group-hover:-translate-y-2"
  >
    <Image
      class="object-cover overflow-hidden w-full h-full rounded-xl"
      width={400}
      height={200}
      src={images[post.data.coverImage]()}
      alt="descriptive text"
      transition:name={"img-" + post.slug}
    />
    { post.data.draft ?
      <DraftIndicator slug={post.slug} className="top-4 left-4" />
      : null }
  </a>

  <div class="flex justify-between items-center">
    <div class="flex gap-2">
      <a href={`/blog/category/${post.data.category}`}>
        <Badge
          radius="md"
          className="capitalize"
          transition:name={"category-" + post.slug}
        >
          {post.data.category}
        </Badge>
      </a>
      {post.data.tags?.map((tag: string) => (
        <a href={`/blog/tag/${tag}`}>
          <Badge
            radius="md"
            variant="outline"
            className="capitalize"
          >
            {tag}
          </Badge>
        </a>
      ))}
    </div>
    <span
      class="font-medium text-muted-foreground"
      transition:name={"date-" + post.slug}
    >
      {formatDate(post.data.publishDate)}
    </span>
  </div>

  <div>
    <a href={`/blog/${post.slug}/`} class="group-hover:underline">
      <h2
        class="text-xl leading-snug md:text-2xl font-heading line-clamp-3"
        transition:name={"title-" + post.slug}
      >
        {post.data.title}
      </h2>
    </a>
  </div>
</article>
