---
import { Badge } from "@/components/ui/Badge";
import { shortDate } from "@/utils";
import { Image } from "astro:assets";
import DraftIndicator from "@components/ui/DraftIndicator.astro";
import type { ImageMetadata } from 'astro';
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">;
const post = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,webp}')
if (!images[post.data.coverImage]) throw new Error(`"${post.data.coverImage}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`);
---

<article class="grid relative grid-cols-1 space-y-4 md:grid-cols-2 md:col-span-2 lg:grid-cols-3 lg:col-span-3">
  <div class="col-span-1 lg:mt-8 lg:mr-8 lg:text-right">
    <h2 class="text-4xl font-heading">Most Recent Post</h2>
    <p>Hot off the press 🔥 <Icon name="lucide:arrow-right" class="hidden mr-2 lg:inline size-4" /><Icon name="lucide:corner-right-down" class="inline mr-2 lg:hidden size-4" />
    </p>
  </div>
  <div class="flex flex-col col-span-2 gap-4 p-3 rounded-2xl border-2 transition-all md:flex-row border-foreground/5 bg-foreground/5 group hover:border-foreground/10">
    <a
      href={`/blog/${post.slug}/`}
      data-astro-prefetch
      class="flex relative transition duration-300 origin-center group-hover:scale-[102%] aspect-7/4 md:max-w-[500px]"
    >
      <Image
        class="object-cover overflow-hidden w-full h-full rounded-lg transition-all group-hover:rounded-xl"
        width={1050}
        height={600}
        src={images[post.data.coverImage]()}
        alt={post.data.coverImageAlt}
        transition:name={"img-" + post.slug}
      />
      { post.data.draft ?
        <DraftIndicator slug={post.slug} className="top-4 left-4" />
        : null }
    </a>
    <div class="flex flex-col gap-4 w-full">
      <div class="flex justify-between items-center">
        <div class="flex overflow-hidden flex-row flex-grow gap-2 masked">
          <a href={`/blog/category/${post.data.category}`}>
            <Badge
              radius="md"
              className="capitalize"
              transition:name={"category-" + post.slug}
            >
              {post.data.category}
            </Badge>
          </a>
          <div class="hidden gap-2 md:flex">
          {post.data.tags?.map((tag: string) => (
            <a href={`/blog/tag/${tag}`}>
              <Badge
                radius="md"
                variant="outline"
                className="capitalize"
              >
                {tag}
              </Badge>
            </a>
          ))}
          </div>
        </div>
        <span
          class="flex-shrink-0 font-medium text-muted-foreground"
          transition:name={"date-" + post.slug}
        >
          {shortDate(post.data.publishDate)}
        </span>
      </div>
      <a href={`/blog/${post.slug}/`} data-astro-prefetch class="h-full">
        <h2
          class="text-2xl leading-snug md:text-3xl group-hover:underline font-heading line-clamp-3"
          transition:name={"title-" + post.slug}
        >
          {post.data.title}
        </h2>
        <p class="mt-2">{post.data.description}</p>
      </a>
    </div>
  </div>
</article>

<style>
.masked {
    mask-image: linear-gradient(to left,transparent 0, #000 26px, #000 100%);
}
</style>
