---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { name, headerImage, description, link } = project.data;
---

<a href={link}>
  <div
    class="rounded-md overflow-hidden aspect-video shadow-md hover:shadow-lg transition"
  >
    <figure
      class="relative overflow-hidden flex content-center items-center w-full h-full"
    >
      <img
        class="h-[200px] rounded-xl"
        transition:name={`${name}-image`}
        src={headerImage}
        alt={name}
      />
      <h1 transition:name={`${name}-title`}>
        {name}
      </h1>
    </figure>
    <p class="z-10">Hero</p>
    <p>{description}</p>
  </div>
</a>
