---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { title, coverImage, description, link } = project.data;
---

<a href={link}>
  <div
    class="overflow-hidden rounded-md shadow-md transition hover:shadow-lg aspect-video"
  >
    <figure
      class="flex overflow-hidden relative content-center items-center w-full h-full"
    >
      <img
        class="rounded-xl h-[200px]"
        transition:name={`${title}-image`}
        src={coverImage}
        alt={title}
      />
      <h1 transition:name={`${title}-title`}>
        {title}
      </h1>
    </figure>
    <p class="z-10">Hero</p>
    <p>{description}</p>
  </div>
</a>
