---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import ProjectTechnologyList from "./project-technology-list.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { title, coverImage, coverImageAlt, description, link, external, technologies } = project.data;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,webp}')
if (!images[coverImage]) throw new Error(`"${coverImage}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`);
---

<a href={link} data-astro-prefetch target={external ? "_blank" : "_self"} class="flex flex-col col-span-2 gap-4 p-3 rounded-2xl border-2 transition-all md:flex-row border-foreground/5 bg-foreground/5 group hover:border-foreground/10">
  <Image
    class="object-cover overflow-hidden w-full max-h-48 rounded-lg group-hover:scale-[102%] aspect-7/4 group-hover:rounded-xl transition-all"
    width={1050}
    height={600}
    src={images[coverImage]()}
    alt={coverImageAlt}
    transition:name={"img-" + project.slug}
  />
  <div class="flex flex-col gap-4 w-full">
    <h1 class="text-4xl font-heading" transition:name={"title-" + project.slug}>
      {title}
    </h1>
    <ProjectTechnologyList technologies={technologies} slug={project.slug} />
    <p>{description}</p>
  </div>
</a>
