---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import Bio from "../../components/Bio.astro";
import { ProjectDisplay } from "@mytypes/project";

export async function getStaticPaths() {
  let projects = await getCollection("projects", ({ data }) => {
    return data.display !== ProjectDisplay.Hidden;
  });

  return projects.map((p) => ({
    params: { slug: p.slug },
    props: { project: p },
  }));
}

const { data, slug } = Astro.props.project;
const { Content } = await Astro.props.project.render();
const { name, description, headerImage, status, category } = data;
---

<MainLayout
  title={name}
  description={description}
>
  <div class="container">
    <header>
      <h1 transition:name={`${name}-title`}>{name}</h1>
      <img
        class="rounded-xl"
        transition:name={`${name}-image`}
        src={headerImage}
      />
      <hr />
    </header>
    <article class="content">
      <p>Status: {status}</p>
      <Content />
    </article>
    <hr />
    <Bio />
  </div>
</MainLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
