---
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";
import { ProjectDisplay } from "@mytypes/project";
import ProjectHero from "@components/ProjectHero.astro";
import ProjectListItem from "@components/ProjectListItem.astro";
import MainLayout from "@layouts/MainLayout.astro";

const title = "Projects";
const description = "Projects";
const permalink = `${Astro.site?.href ?? "/"}projects`;

let projects = await getCollection("projects", ({ data }) => {
  return data.display !== ProjectDisplay.Hidden;
});

const projectDisplayOrder = [
  ProjectDisplay.Hero,
  ProjectDisplay.Card,
  ProjectDisplay.List,
];

projects = projects.sort(
  (a, b) =>
    projectDisplayOrder.indexOf(a.data.display) -
    projectDisplayOrder.indexOf(b.data.display),
);
---

<MainLayout
  title={title}
  description={description}
>
  <div class="container">
    <h1>Projects</h1>
    <!-- <figure class="broccoli-image"> -->
    <!--   <img class="pixel-image" src="/assets/broccoli-idle.gif" alt="Anthropomorphic broccoli standing idle." width="330" /> -->
    <!--   <figcaption> -->
    <!--   Broccoli from <a href="/projects/uprooted">Uprooted</a> -->
    <!--   </figcaption> -->
    <!-- </figure> -->
    {
      projects.map((project, _index) => {
        if (project.data.display == ProjectDisplay.Hero) {
          return <ProjectHero project={project} />;
        }
        if (project.data.display == ProjectDisplay.Card) {
          return <ProjectCard project={project} />;
        }
        if (project.data.display == ProjectDisplay.List) {
          return <ProjectListItem project={project} />;
        }
      })
    }

    <p>
      Active member instructing and helping users in the Elixir Newbies and
      Godot discords.
    </p>
  </div>
</MainLayout>

<style>
  .broccoli-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  @media (max-width: 1020px) {
    .broccoli-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
