---
import { cn, longDate } from "@/utils";
import type { CollectionEntry } from "astro:content";
import MainLayout from "./MainLayout.astro";
import { buttonVariants } from "@components/ui/Button";
import { Icon } from "astro-icon/components";
import { Badge } from "@components/ui/Badge";
import { Image } from "astro:assets";
import TableOfContents from "@components/TableOfContents.astro";
import DraftIndicator from "@components/ui/DraftIndicator.astro";
import Bio from "@components/Bio.astro";

type Props = CollectionEntry<"blog">;

const slug = Astro.props.slug;
const { draft, title, description, publishDate, updatedDate, coverImage, coverImageAlt, category, tags } =
  Astro.props.data;
const { headings } = await Astro.props.render();
---

<MainLayout title={title} description={description}>
  <main class="container relative py-6 max-w-5xl lg:grid lg:gap-10 lg:py-10 xl:gap-20 lg:grid-cols-[1fr_300px]">
    <div>
    <a
      href="/blog"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "absolute left-[-200px] top-10 hidden 2xl:inline-flex text-muted-foreground"
      )}
      transition:animate="slide"
    >
      <Icon name="lucide:chevron-left" class="mr-2 size-4" />
       See all posts
    </a>

    <article class="mx-auto max-w-none md:max-w-screen-md prose dark:prose-invert">
      <div class="flex gap-2">
        <a href={`/blog/category/${category}`}>
          <Badge
            radius="md"
            className="capitalize"
            transition:name={"category-" + slug}
          >
            {category}
          </Badge>
        </a>
        {tags?.map((tag: string) => (
          <a href={`/blog/tag/${tag}`}>
            <Badge
              radius="md"
              variant="outline"
              className="capitalize"
            >
              {tag}
            </Badge>
          </a>
        ))}
      </div>
      <span class="relative">
        <Image
          class="overflow-hidden my-6 rounded-xl"
          width={1020}
          height={510}
          src={coverImage}
          alt={coverImageAlt}
          transition:name={"img-" + slug}
        />
        { draft ? <DraftIndicator slug={slug} className="top-8 left-8" /> : null }
      </span>
      <div class="flex justify-between items-center">
        <span
          class="font-medium text-muted-foreground"
          transition:name={"date-" + slug}
        >
          {longDate(publishDate)}
          {
            updatedDate && (
              <span>- Last updated on {longDate(updatedDate)}</span>
            )
          }
        </span>
      </div>
      <section>
        <h1 id="title" class="my-4 text-4xl font-heading" transition:name={"title-" + slug}>
          {title}
        </h1>
        <p>{description}</p>
      </section>
      <hr class="my-6" />
      <slot />
      <hr class="flex my-4 md:hidden" />
      <div class="flex justify-start py-6 lg:py-10 2xl:hidden">
        <a href="/blog" class={cn(buttonVariants({ variant: "ghost" }))}>
          <Icon name="lucide:chevron-left" class="mr-2 size-4" />
           See all posts
        </a>
      </div>
      <Bio />
    </article>
    </div>
    <div class="hidden text-sm lg:block">
      <div
        class="sticky top-18 -mt-10 max-h-[calc(var(--vh)-4rem)] overflow-y-auto pt-10"
        transition:animate="slide"
      >
        <TableOfContents headings={headings} />
      </div>
    </div>
  </main>
</MainLayout>
