---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { cn } from "@/utils";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { navMenuConfig } from "@/config/nav-menu";
import MainNav from "@/components/layout/main-nav.astro";
import { ThemeToggle } from "@/components/theme-toggle";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
  image?: string;
};

const { title, description, mainClass, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  <Header>
    <MainNav
      items={navMenuConfig.mainNav}
      slot="left-header"
      transition:persist
    />
    <SheetMobileNav
      mainNavItems={navMenuConfig.mainNav}
      slot="mobile-nav-header"
      client:load
      transition:persist
    />

    <nav slot="right-header">
      <ThemeToggle client:idle />
    </nav>
  </Header>

  <main class={cn(mainClass, "flex flex-grow")}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
